@media(max-width:768px){

    body{
        background: url(../images/bg-mobile_1.png);
        background-color: hsl(257, 40%, 49%);
    }

    /* HEADER */

    header{
        height: 80px;
    }

    .logo img{
        max-width: 200px;
    }

    /* MAIN */

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-height: 80%;
    }

    .ilustracoes img{
        display: flex;
        align-self: center;
        max-width: 450px;
    }

    .informacoes{
        max-width: 100%;
        align-items: center;
        text-align: center
    }

    .informacoes h1{
        font-size: 30px;
    }

    .informacoes p{
       font-size: 22px; 
    }

    .informacoes .btn-register{
        width: 250px;
        height: 60px;
    }
    /* FOOTER */

    footer{
        display: flex;
        justify-content: center;
    }

    footer ul{
        margin-top: 24px;
    }
}
